   h1 {
            border-bottom: 1px solid black;
            padding-bottom: 15px;
            margin: 0px;
        }

        h1 a {
            text-decoration: none;
        }

        ol {
            list-style: none;
            border-right: 1px solid black;
            width: 110px;
            margin: 0;
            padding: 10;
        }

        #container {
            display: flex;
        }

        /*
            #container>*{
                border: 3px solid red;
            }
*/

        #container>#article {
            flex-grow: 0;
            flex-shrink: 0;
        }

        #container>#article {
            flex-grow: 1;
            flex-shrink: 1;
            padding: 30;
            padding-top: 0;
        }